# fly.toml app configuration file generated for backend-patient-river-6568 on 2025-07-19T13:53:27+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'backend-patient-river-6568'
primary_region = 'nrt'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
  # 리스 충돌 방지를 위한 설정
  concurrency = { type = "connections", hard_limit = 25, soft_limit = 20 }

[[vm]]
  size = 'shared-cpu-1x'
  # 머신 재시작 정책 설정
  restart = { policy = "on-failure" }
